body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Courier New', Courier, monospace;
}

#title {
    text-align: center;
    font-size: 48px;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tools {
    display: flex;
    flex-direction: column;
}


#grid {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 600px;
    border: 4px solid black;
}

#grid .col div {
    box-sizing: border-box;
    background-color: white;
    border: 0.5px solid rgba(211, 211, 211, 0.25);
}

.col {
    display: flex;
    flex-direction: column;
}