#grid {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 600px;
}

#grid .col div {
    width: 8px;
    height: 8px;
    background-color: black;
}

.col {
    display: flex;
    flex-direction: column;
}